header ul {
    justify-content: end;
    color: blue;
}

h2 {
    margin: 2% 0 0 4.1%;
}

header ul li {
    margin-right: 3em;
}

ul {
    margin-top: 10%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

img {
    width: auto;
}

figure {
    margin-top: 6%;
    width: 50%;
}

footer ul li {
    margin-right: 14%;
    color: blue;
}