body {
    display: grid;
justify-content: center;
text-align: center;
}

header ul {
    justify-content: start;
    color: rgb(16, 16, 55);
}

header ul li {
    margin-right: 4em;
}

ul {
    display: flex;
    margin-top: 10vh;
    list-style: none;
    justify-content: space-around;
}

img {
    width: auto;
}

figure {
    margin-top: 6%;
    width: 50%;
}

footer ul li {
    margin-right: 14vw;
    color: blue;
}

h6 {
    margin: 5vh;
    text-align: center;
    }

    #rev {
        margin: .1vh;
        text-align: center;
    }
    